* {
  box-sizing: border-box;
}
body {
  margin: auto;
  text-align: center;
}
h3 {
  text-align: center;
  color: white;
  background: green;
}
#header {
  background: blue;
  text-align: center;
  color: white;
}
#instructions {
  background: red;
  text-align: center;
  margin-top: 0;
}
.background-left {
  background: yellow;
}
.background-right {
  background: lightseagreen;
}
.cell {
  padding: 70px 70px 70px 70px;
  text-align: center;
}
.stat-cell {
  padding: 67px 90px;
  text-align: center;
}
#top-left-cell,
#bottom-left-cell,
#center-cell,
#top-right-cell,
#bottom-right-cell {
  background: lightblue;
}
#middle-left-cell,
#top-middle-cell,
#bottom-middle-cell,
#middle-right-cell {
  background: lightpink;
}
.word-area {
  height: 60px;
  width: 250px;  
  background: lightgreen;
  text-align: center;
  margin: auto;
}
#game-content-1 {
  width: 100%;
}
#footer {
  background: blue;
  height: 50px;
  border-top: 12px solid red;
}
.background-hangman {
  width: 250px;
  text-align: center;
}